{% extends 'base.html' %}

{% block content %}
    <h2>Ingredients List</h2>
    <div class="mt-4">
        <a href="{% url 'add_ingredient' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add New Ingredient</a>
    </div>
    <table id="defaultTable" class="stripe hover w-full">
        <thead>
            <tr>
                <th>Ingredient ID</th>
                <th>Ingredient Name</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.ingredient_id }}</td>
                <td>{{ ingredient.ingredient_name }}</td>
                <td>
                    <a href="{% url 'edit_ingredient' ingredient.ingredient_id %}" class="text-blue-500 hover:text-blue-700">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No Ingredients available. Please upload <a class="text-blue-500 underline hover:text-blue-700" href="{% url 'upload_ingredients' %}">here</a>.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
