{% extends 'base.html' %}

{% block content %}
    <h2>Products List</h2>
    <table id="defaultTable" class="stripe hover w-full">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Ingredient ID</th>
                <th>Product Name</th>
                <th>Ingredient Name</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ ingredient.ingredient_id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ ingredient.ingredient_id }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No products available. Please upload <a class="text-blue-500 underline hover:text-blue-700" href="{% url 'upload_composition' %}">here</a>.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
