<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Pharmascheduler{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'Tailwind/tailwind.min.css' %}">
</head>
<body class="bg-gray-100">

  <!-- Navbar -->
  <nav class="bg-white shadow-md">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <!-- Logo -->
      <div class="flex items-center">
        {% comment %} <img src="{% static 'logo.png' %}" alt="Logo" class="h-10 w-10 mr-2"> {% endcomment %}
        <span class="text-xl font-bold text-gray-800">Pharmascheduler</span>
      </div>
      
      <!-- Links -->
      <ul class="flex space-x-4">
        <li>
          <a href="{% url 'current' %}" class="text-gray-700 hover:text-gray-900 {% if request.resolver_match.url_name == 'current' %}font-bold{% endif %}">
            Schedule
          </a>
        </li>
        <li>
          <a href="{% url 'display_products' %}" class="text-gray-700 hover:text-gray-900 {% if request.resolver_match.url_name == 'display_products' %}font-bold{% endif %}">
            Products
          </a>
        </li>
        <li>
          <a href="{% url 'display_ingredients' %}" class="text-gray-700 hover:text-gray-900 {% if request.resolver_match.url_name == 'display_ingredients' %}font-bold{% endif %}">
            Ingredients
          </a>
        </li>
        <li>
          <a href="{% url 'display_composition' %}" class="text-gray-700 hover:text-gray-900 {% if request.resolver_match.url_name == 'display_composition' %}font-bold{% endif %}">
            Composition
          </a>
        </li>
        <li>
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="text-gray-700 hover:text-gray-900">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="container mx-auto mt-6">
    {% block content %}
    {% endblock %}
  </div>
  
  <script src="{% static 'DataTables/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'DataTables/datatables.min.js' %}"></script>

  <script>
    $(document).ready(function() {
        $('#defaultTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            select: true,
            columnDefs: [{
              "defaultContent": "-",
              "targets": "_all"
            }]
        });
    });
  </script>

</body>
</html>
